* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #667eea, #764ba2);
    color: #fff;
    margin-left: 20px;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    
}

.navbar {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 20px 0;
    margin-right: 20px;
    position: sticky;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 20px;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
}

.profile-container {
    text-align: right;
    padding: 10px;
}

.profile-photo {
    width: 200px; /* Increased width */
    height: 250px; /* Increased height */
    border-radius: 50%;
}


.section {
    padding: 50px 0;
}

.main-heading {
    font-size: 3rem;
    margin-bottom: 20px;
}

.section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.section p {
    line-height: 1.6;
}

.skills-list {
    list-style: none;
}

.skills-list li {
    margin-bottom: 5px;
}

.skills-list li:before {
    content: "•";
    margin-right: 5px;
    color: #007bff;
}
